.notify-dd {
	&.uk-open {
		top: 58px;
	}
	ul.notify-ul {
		height: 308px;
		overflow: hidden scroll;
		&::-webkit-scrollbar {
			width: 0.4em;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #bdbdbd;
		}
	}
}
