.responsive-tab {
	position: relative;
	z-index: 1;
	clear: both;
	width: 100%;
	height: 52px;

	/* Force Hardware Acceleration */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;

	ul,
	li,
	a {
		height: 100%;
	}

	ul {
		// Enables a flex context for all its direct children
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding: 0;
		margin: 0;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		&::after {
			clear: both;
			content: "";
			display: block;
		}
	}
	li {
		display: inline-block;
		-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		position: relative;
		&.uk-active,
		&.uk-active a {
			color: #3e416d;
			opacity: 1;
		}
	}
	a {
		display: block;
		color: #8e8e8e;
		opacity: 0.6;
		line-height: 50px;
		padding-right: 17px;
		padding-left: 0;
		font-weight: 500;
		font-size: 15px;
		position: relative;
		&:hover {
			color: #3e416d;
			opacity: 0.8;
		}
		i {
			font-weight: 700;
			margin-right: 9px;
		}
	}
}

.uk-light .responsive-tab {
	&::before {
		background: transparent;
	}
	.uk-active a,
	li a:hover {
		color: white;
	}
	.uk-active {
		a {
			&::before {
				background-color: white;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.responsive-tab {
		height: 56px;
		overflow: visible;
		ul {
			display: block;
			li {
				float: none;
				-webkit-flex-shrink: 1;
				-ms-flex-negative: 1;
				flex-shrink: 1;
				flex: 1 0;
				a {
					font-size: 15px;
					margin-right: 20px;
					padding: 0;
					line-height: 55px;
				}
			}
		}
	}
}

// Style-3
@media only screen and (min-width: 1024px) {
	.responsive-tab.style-1:before {
		background: transparent;
	}

	.responsive-tab.style-1 {
		height: 38px;
	}

	.responsive-tab.style-1 li a {
		background: #eaeaea;
		border-radius: 97px;
		line-height: 38px;
		color: black;
		font-size: 13px;
		padding: 0px 22px;
		margin-right: 10px;
	}

	.responsive-tab.style-1 li.uk-active a {
		background-color: #3e416d;
		color: white;
	}

	.responsive-tab.style-1 .uk-active a:before {
		background-color: transparent;
	}
}

/* ---------------------------------- */
/* style-2
------------------------------------- */
.responsive-tab.style-2 :before {
	position: absolute;
	bottom: 0;
	content: "";
	width: 100%;
	height: 1px;
	border-radius: 27px;
}

.responsive-tab.style-2 .uk-active a:before {
	width: 100%;
	width: 20%;
	height: 4px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #3e416d;
}

.responsive-tab.style-2:before {
	background: transparent;
}

.responsive-tab.style-2 .uk-active {
	color: #0a0a0a;
}

/* ---------------------------------- */
/* style-3
------------------------------------- */
.responsive-tab.style-3 .uk-active a:before,
.responsive-tab.style-3:before {
	display: none;
}

@media only screen and (min-width: 1024px) {
	.responsive-tab.style-3 {
		height: auto;
	}

	.responsive-tab.style-3 li a {
		font-size: 17px;
		font-weight: 600;
		line-height: 44px;
	}

	.responsive-tab.style-3 li {
		display: block;
	}

	.responsive-tab.style-3 ul,
	.responsive-tab.style-3 li,
	.responsive-tab.style-3 a {
		height: 100%;
	}

	.responsive-tab.style-3 li .responsive-tab.style-3 a {
		height: 100%;
	}
}

/* ---------------------------------- */
/* style-4
------------------------------------- */
.responsive-tab.style-4 :before {
	position: absolute;
	bottom: 0;
	content: "";
	background: #e8e8e8;
	width: 100%;
	height: 1px;
	border-radius: 27px;
}

.responsive-tab.style-4 a {
	margin-right: 12px;
	padding: 0 10px;
}

.responsive-tab.style-4 .uk-active a:before {
	position: absolute;
	bottom: 0;
	content: "";
	background: #007791;
	width: 100%;
	height: 5px;
	left: 0;
	background: #3e416d;
}

.uk-light .responsive-tab.style-4 .uk-active a:before {
	background-color: white;
}

/* ---------------------------------- */
/* style-5
------------------------------------- */
.responsive-tab.style-5 {
	height: 47px;
}

.responsive-tab.style-5 li a {
	line-height: 47px;
	padding: 0px 20px;
	margin: 0px;
}

.responsive-tab.style-5 li.uk-active a {
	padding: 0px 13px;
	margin: 0px 36px;
	background-color: #edeff0;
	color: #3e416d;
}

.responsive-tab.style-5 li.uk-active a:hover {
	background-color: #edeff0;
	opacity: 1;
}

.responsive-tab.style-5 li.uk-active a:before {
	background: url(../../assets/images/bg-shapes/tab-border-left.png) no-repeat;
	background-size: cover;
	content: "";
	position: absolute;
	left: -35px;
	top: 0;
	font-size: 31px;
	height: 47px;
	width: 36px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.responsive-tab.style-5 .uk-active a:after {
	background: url(../../assets/images/bg-shapes/tab-border-right.png) no-repeat;
	background-size: cover;
	content: "";
	position: absolute;
	right: -35px;
	top: 0;
	color: #f91629;
	height: 47px;
	width: 36px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
